<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/build.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p class="text-red-500 bg-color-blue border-1">Welcome to <%= title %>
  </p>
</body>

</html>