<h1 class="text-6xl">Hi!</h1>
<% if (currentUser) { %>
  <li class="text-base">Welcome, <%= currentUser.callsign %>!</li>
  <li><a href="/logout">Logout</a></li>
  <% if (currentUser.admin) { %>
    <li><a href="/admin">Admin Panel</a></li>
    <% } %>
<% } %>