<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="<%= _csrfToken %>">
        <button class="bg-red-500 text-white px-4 py-1 rounded" type="submit">Вийти</button>
    </form>
</div>